# Authelia configuration

server:
  address: tcp://0.0.0.0:9091/authelia

log:
  level: info

identity_validation:
  reset_password:
    jwt_secret: "/UGcbhFEHdQpS1vQKmFeAjLHbtXvL0stienzztir1mA="

session:
  name: authelia_session
  secret: "7M1uiJPNyzJjEHIdO35PbUNZPMzEhtuFa936cDBGeXM="
  expiration: 3600
  inactivity: 300
  cookies:
    - domain: "llmstack.lan"
      authelia_url: "https://llmstack.lan/authelia"
      default_redirection_url: "https://llmstack.lan/"

storage:
  encryption_key: "adAFEY8Epe/rgqMoROz8jp4QCFGsHCin3jU1C9ea7Gc="
  local:
    path: /data/db.sqlite3

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain: "*.llmstack.lan"
      policy: one_factor
      resources:
        - "^/api/verify$"
        - "^/flowise/.*$"
        - "^/openhands/.*$"
        - "^/grafana/.*$"
        - "^/nodered/.*$"
        - "^/$"
    - domain: "llmstack.lan"
      policy: one_factor
      resources:
        - "^/.*$"

regulation:
  max_retries: 5
  find_time: 120
  ban_time: 300

notifier:
  filesystem:
    filename: /data/notification.txt